body {
    font-family: Arial, sans-serif;
    background-color: #FFFFFF ;
    color: #333;
    text-align: center;
}

h1 {
    color: #000000   ;
}

h2 {
    color: #333333 ;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #0077b6;
}

button {
    padding: 10px 30px;
    background-color: #F94144;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #F3722C ;
}

iframe {
    border: 5px solid #000000;
}